<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<!-- <script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script> -->

<article class="prose px-4">
  <h1 class="text-3xl font-bold fc-heading">Willkommen bei BiKN!</h1>
  Bei uns finden Sie alles rund ums Fahrrad. Sie sind auf der Suche nach einem neuen Fahrrad? Dann 
  besuchen Sie uns am besten direkt in unserem Onlineshop oder vor Ort in der Alfred-Wachtel-Straße 8 in 
  Konstanz am Bodensee. Ganz egal welche Altersgruppe, Wir haben für alle genau das Richtige.
<br>
<h2 class="text-xl font-bold fc-subheading">Wir stehen für Qualität Rund Ums Fahrrad</h2>
  Uns bei BiKN ist die Zufriedenheit der Kund*innen das höchste Gebot. In unserem Laden verkaufen wir 
  deshalb nur hochwertige Fahrräder der Marken BMC, Flyer, Bulls, Bergamont, Cube und viele weitere. All 
  unsere Fahrräder sind <b>SWISSMADE</b> oder <b>MADE IN GERMANY</b>. 
  Auch bei unseren Zubehör-Teilen (Körbe, Schlösser, Lichter, Helme uvm.) achten wir stets auf höchste 
  Qualität, damit Sie stets Sicher und Komfortabel mit unseren Produkten mobil sind.
  Bei uns finden Sie garantiert was sie brauchen!
<br>
<h2 class="text-xl font-bold fc-subheading">Unser Laden</h2>
  Unseren Fahrradladen finden Sie direkt am Seerhein in der 
  Alfred-Wachtel-Straße 8 78462 Konstanz. 
  Sollten Sie Fragen aller Art haben Schauen Sie doch zu unseren 
  Öffnungszeiten (Montag- Samstag 8-18Uhr) vorbei, oder rufen 
  Sie uns unter folgender Servicenummer an: 07531/112233. Wir 
  beraten Sie gerne!
<br>
<h2 class="text-xl font-bold fc-subheading">Werde Teil des Teams</h2>

  Zur Verstärkung unseres motivierten Teams suchen wir ab sofort eine/n:<br>

  <b>Zweiradmechatroniker/in oder -mechaniker/in (m/w/d)</b> in Vollzeit<br>
  Deine Aufgaben bei uns:
  <ul class="list-disc px-6">
    <li>Du führst die Wartung, Reparatur und Instandhaltung von hochwertigen Zweirädern durch, damit unsere Kund*innen sicher und mit funktionstüchtigem Fahrrad unterwegs sein können</li>
    <li>Du nimmst den Auf-, Umbau und die Einstellung von Zweirädern für unsere Kund*innen vor und stattest Standardmodelle mit Zusatzteilen aus</li>
    <li>Du bist sicher im Umgang mit Kund*innen</li>
  </ul>
  <br>
</article>

